Highlands.xcodeproj/project.xcworkspace/xcuserdata/scottmehus.xcuserdatad/UserInterfaceState.xcuserstate
Highlands.xcodeproj/xcuserdata/scottmehus.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Highlands.xcodeproj/project.xcworkspace/xcuserdata/scott.mehus.xcuserdatad/*
Highlands.xcodeproj/xcuserdata/scott.mehus.xcuserdatad/*
Highlands.xcodeproj/xcuserdata/scott.mehus.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Highlands.xcodeproj/xcuserdata/scott.mehus.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
.DS_Store